:root {
    --dark: #000;
    --white: #fff;
    --linear-white: #F3F3F3;
    --neutral-grey3: #767676;
    --neutral-grey4: #323232;

    --primary-red: #EC0000;
    --orange: #FF9100;
    --green: #BED200;
    --blue: #009DEC;
    --dark-blue: #00387A;

    --header-height: 106px;
}