.contact-form-header {
    width: 100%;
    display: flex;

    &-button {
        width: 50%;
        padding: 16px 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: border-bottom 0.2s ease-out;

        &-border {
            border: 1px solid var(--dark);

            &-part {
                &-left,
                &-right {
                    border-top: 1px solid var(--dark);
                    border-bottom: 1px solid var(--white);
                }

                &-left {
                    border-left: 1px solid var(--dark);
                }

                &-right {
                    border-right: 1px solid var(--dark);
                }
            }
        }

        &-left-text,
        &-right-text {
            margin: 0 2px 0 16px;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            text-decoration: underline;
            text-underline-offset: 6px;
            text-decoration-thickness: 3px;
        }

        &-left-text {
            text-decoration-color: var(--primary-red);
        }

        &-right-text {
            text-decoration-color: var(--orange);
        }
    }
}
