.sub-header-container {
    width: 100%;
    padding: 64px 0 94px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(243, 243, 243, 1) 100%
    );

    &-text {
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            width: 100%;
            font-weight: 700;
            font-size: 50px;
            line-height: 56px;
            margin: 0 0 24px 0;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            margin: 0;
            text-align: justify;
        }

        .primary {
            color: var(--white);
            border: none;
            background: var(--dark);
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            padding: 10px 16px;
            border-color: transparent;
            font-family: "AmsterdamSans", Arial, sans-serif;
            transition: background 0.2s ease-out;
            cursor: pointer;

            &:hover {
                background: #767676;
            }
        }
    }
}
