.contact-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(230, 230, 230, 0) 80%, rgba(230, 230, 230, 0.3) 100%);
    padding: 150px 0 190px 0;
    box-sizing: border-box;

    .contact-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
}
