.goal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 152px 0;
    box-sizing: border-box;

    &-text {
        width: 647px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin: 44px 0 0 0;
    }
}
